<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
     

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="../employeelist">Back<span class="sr-only">(current)</span></a>
      </li>
     
      
    </ul>
  </div>
</nav>

<h3>Create Employee</h3>
<p class = "message">{{message}}</p>
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()">

      

    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" required [(ngModel)]="employee.firstname" name="firstname" placeholder="First Name">
    </div>
 
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" required [(ngModel)]="employee.lastname" name="lastname" placeholder="Last Name">
    </div>
 
    <div class="form-group">
        <label for="lastName">Email</label>
        <input type="text" class="form-control" id="email" required [(ngModel)]="employee.email" name="email" placeholder="Email">
      </div>

      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" required [(ngModel)]="employee.username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="username">Hiredate</label>
          <input type="date" class="form-control" id="hiredate" required [(ngModel)]="employee.hiredate" name="hiredate" placeholder="Hiredate">
        </div>

      <div class="form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" required [(ngModel)]="employee.password" name="password" placeholder="Password">
      </div>

      <div class="form-group">
          <label for="job">Job</label>
          <select class="form-control" id="job" name="job" [(ngModel)]="employee.job">
              <option *ngFor="let job of jobs | async"
               [ngValue]="job">
                   {{job.name}}
              </option>
           </select>
      </div>

      <div class="form-group">
          <label for="salary">Salary</label>
          <input type="text" class="form-control" id="salary" required [(ngModel)]="employee.salary" name="salary" placeholder="Salary">
      </div>

      <div class="form-group">
          <label for="active">Active</label>
          <input type="text" class="form-control" id="active" required [(ngModel)]="employee.active" name="active" placeholder="Active">
      </div>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>

  <router-outlet></router-outlet>
  

