
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
     

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="../info">General Info<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../editinfo">Edit your info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../payment">Payments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../vacation">Vacations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../holidayperemployee">Holidays</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../jobhistory">Job History</a>
      </li>
      <div *ngIf="jobname==='admin'">
          <li class="nav-item">
            <a class="nav-link" routerLink="../workingdays">Working Days</a>
          </li>
        </div>
    </ul>
  </div>
</nav>
<div *ngIf="jobname==='admin'">
<button class="btn btn-secondary" routerLink="../updatejob">Change Job</button>
</div>
<div class="col-md-10">
  <table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">From date</th>
      <th scope="col">To date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jobhistory of jobhistories | async">
     
      
      <td>{{jobhistory.job.name}}</td>
      <td>{{jobhistory.startdate | date}}</td>
      <td>{{jobhistory.enddate | date}}</td>
      
  </table>
  
  <router-outlet></router-outlet> 
  </div>